html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* 기본 스크롤을 제거 */
  height: 100%; /* 화면 전체를 차지하도록 설정 */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%; /* 화면 전체를 차지하도록 설정 */
  width: 100%;
}